@page "conferenceId:int"
@model GlobomanticsRazorPages.Pages.AddProposalModel
    <form method="post">
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-2">
                <label asp-for="Proposal.Title"></label>
            </div>
            <div class="col-md-2">
                <input class="form-control" asp-for="Proposal.Title" />
            </div>
        </div>
        <div class="row form-group">
            <div class="col-md-2 col-md-offset-2">
                <label asp-for="Proposal.Speaker"></label>
            </div>
            <div class="col-md-2">
                <input class="form-control" asp-for="Proposal.Speaker" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-2 col-md-offset-4">
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </form>

